.dog-search {
  min-height: 100px;
  max-height: 300px;
}

.range-field {
  width: 75px;
}

.select-wrapper {
  width: 100px;
}

input .checkbox  {
	 width: 15px!important;
	 height: 15px!important;
}

[type="checkbox"]+span:not(.lever) {
  font-size: 11px;

}

[type="checkbox"]:checked+span:not(.lever):before {
  width: 12px;
  height: 16px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  width: 13px;
  height: 13px;
}
