.dog-search {
  min-height: 100px;
  max-height: 300px;
}

.range-field {
  width: 75px;
}

.select-wrapper {
  width: 100px;
}

input.checkbox  {
	 width: 15px;
	 height: 15px;
}

.dropdown-content {
  font-size: 5px;
}
