  /*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
  .waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
   }

body {
   box-sizing: border-box;
}

nav .brand-logo {
    margin-left: 10px;
    position: relative;
}

nav .responsive-img {
    margin-top: 5px;
    margin-bottom: -15px;
    width: 115px;
    height: 75px;
}

nav .nav-title {
    padding: 15px 0 0 0;
    height: 60px;
    color: black;
}

nav .top-nav {
    height: 70px;
    padding: 0 15px;
}

nav .nav-content{
    height: 75px;
}

nav .navLinks {
    padding-top: 10px;
    font-size: 20px;
}

#slide-out {
  margin: 0;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  width: 20%;
}

.findDogLink {
  height: 40px;
}

.drop-down {
  padding-top: 0;
}

.side-nav {
  font-size: 18px;
  height: 100px;
}

.footer-menu {
    color: black;
    font-weight: 15px;
}

.page-footer {
    border-top: solid 1px black;
}

.footer-copyright {
    text-align: center;
    font-weight: 15px;
}