 /*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
  .waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
        background-color: rgba(121, 85, 72, 0.65);
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    body {
       box-sizing: border-box;
    }
    
    .navContent, .mainContent {
        float: left;
    }
    
    .navContent {
        background: #ccc;
        margin-right: 15px;
        width: 300px;
    }
    
    nav .brand-logo {
        margin-left: 10px;
        position: relative;
    }
    
    nav .responsive-img {
        margin-top: 5px;
        margin-bottom: -15px;
        width: 115px;
        height: 75px;
    }
    
    nav .nav-title {
        padding: 15px 0 0 0;
        height: 60px;
        color: black;
    }
    
    nav .top-nav {
        height: 70px;
        padding: 0 15px;
    }
    
    nav .nav-content{
        height: 75px;
    }
    
    nav .navLinks {
        padding-top: 10px;
        font-size: 20px;
    }
    
    #slide-out {
      margin-top: 0;
      
      /* width: 15%; */
    }
    
    .findDogLink {
      height: 45px;
      padding-top: 15px;
      padding-left: 15px;
    }
    
    .drop-down {
      margin-top: -26px;
      padding-top: 0;
    }
    
    .side-nav {
      font-size: 18px;
    }
    
    .mainContent {
      /* width: 60%;
      position: relative; */
    }
    
    .footer-menu {
        color: black;
        font-weight: 15px;
    }

    footer .section1 {
      position: relative;
      float: left;
    }

    footer section2 {
      position: relative;
      float: right;
      /* margin: 0; */
    }

    footer section3 {
      position: relative;
      float: right;
      margin: 0;
    }
    
    .page-footer {
        border-top: solid 1px black;
    }
    
    .footer-copyright {
        text-align: center;
        font-weight: 15px;
    }