nav .brand-logo {
    margin-left: 10px;
    position: relative;
}

nav .responsive-img {
    margin-top: 5px;
    margin-bottom: -15px;
    width: 115px;
    height: 75px;
}

nav .nav-title {
    padding: 15px 0 0 0;
    height: 60px;
    color: black;
}

nav .top-nav {
    height: 70px;
    padding: 0 15px;

}

nav .nav-content{
    height: 75px;
}



.nav-wrapper {
    
    
}